<!--AppComponent
 <app-hello *ngIf="user.age >= 18" [name] = "user.name"></app-hello>
<div *ngIf="user.age < 18">
  dit me may nmb
</div>
<button (click) ="user.age = user.age -1">-</button>
Age: {{user.age}}
<button (click) ="user.age = user.age +1">+</button>

<app-hello></app-hello>
<input type="text" [value]="user.name" />
<input type="text" [ngModel]="user.name" (ngModelChange)="user.name = $event" />-->
<app-hello></app-hello>

<p [style]="{ fontSize: '2rem' }" >Đây là phần Input</p>

<button [style]="{ fontSize: '2rem' }" (click)="cur = cur + 1">+</button>
<app-progress-bar
  [progress]="50"
  [backgroundColor]="'#ccc'"
  [progressColor]="'tomato'"
>
</app-progress-bar>
<p>
  <app-progress-bar
    [progress]="cur"
    [backgroundColor]="'#ccc'"
    [progressColor]="'dodgerblue'"
  >
  </app-progress-bar>
</p>
<p [style]="{ fontSize: '2rem' }" >Đây là phần Class Binding</p>
<button (click)="isDanger = !isDanger">Toggle Danger</button>
<br />
<button (click)="isWarning = !isWarning">Toggle Warning</button>
<div
  class="box"
  [class]="{ 'red-border': isDanger, 'yellow-background': isWarning }"
></div>

<!--Cach 1 [style.color] = "'red'" [style.background] ="'yellow'" [style.fontSize] ="2" -->
<p
  [style.--text-color]="isDanger ? 'red' : 'blue'"
  [style]="{
    color: 'var(--text-color)',
    background: 'yellow',
    fontSize: '2rem'
  }"
>
  End lesson 6
</p>

<p [style]="{ fontSize: '2rem' }">Đây là phần output</p>
<app-author-list></app-author-list>

<ul>
  <li
    *ngFor="
      let pe of people;
      index as idx;
      count as total;
      first as isF;
      last as isL;
      even as isEven;
      odd as isOdd
    ">
    <span>{{ pe.name }} - {{ pe.id }} -- {{ pe.phone }}</span>
    <br />
    <span>at index {{ idx }} out of {{ total }} </span>
  </li>
</ul>

<p [style]="{fontSize:  '2rem'}">Custom Two-way binding and ViewChild/ViewChildren</p>

<p>
  Your Version Angular: {{ name }}
</p>
<input type="text" [(ngModel)]= "name">
<button (click) = "showLast = !showLast">Toggle me</button>


<app-toggle [(checked)]="checked">
  <h3 class="header">Ng-Content 1</h3>
  <label >Question 1</label>
  <p>Content 1</p>
</app-toggle>

<app-toggle [(checked)]="checked" >
  <h3 class="header">Ng-Content 2</h3>
  <span>Question 2</span>
  <p>Content 2</p>

  <button>Skip</button>
</app-toggle>

<ng-container *ngIf = "showLast" >
    <app-toggle [(checked)]="checked"></app-toggle>
</ng-container>

<p> typescript</p>

<p [style]="{fontSize:  '2rem'}">
  ng-template & ng-container
</p>

<div class="card">
  <div class="card-header">
      You have selected <ng-container [ngTemplateOutlet]="counterTmpl"></ng-container> .
  </div>
  <div class="card-body">
      There are <ng-container [ngTemplateOutlet]="counterTmpl"></ng-container>
  </div>
  <div class="card-footer">
      You have selected <ng-container [ngTemplateOutlet]="counterTmpl"></ng-container>
  </div>
</div>

<<ng-template #counterTmpl>
  <span class="badge badge-primary">{{counter}}</span> item
</ng-template>
<ng-template #linkTemplate let-l = "link">
  <h3>{{ l }}</h3>
</ng-template>
<tab-container [navs] = "navs" [linkTemplate]="linkTemplate"></tab-container>


<indexx-test>
  <h3>Test typescript</h3>
  <button>Submit</button>
  <button>Cancel</button>
</indexx-test>

<indexx-test flexDirection="column">
  <input type="email" />
  <input type="password" />
</indexx-test>

<di-index></di-index>
<p>
<button class="btn btn-primary" (click)="show = !show">Toggle tab 4</button>
</p>
<app-tab-group>
	<app-tab-panel title="Tab 1">
			content tab 1
	</app-tab-panel>
	<app-tab-panel title="Tab 2">
			content tab 2
	</app-tab-panel>
	<app-tab-panel title="Tab 3">
			content tab 3
	</app-tab-panel>
  <app-tab-panel title="Tab 4" *ngIf="show">
			content tab 4
	</app-tab-panel>
</app-tab-group>

<app-bs-tab-group>
	<app-tab-panel title="First Tab">
			content tab 1
	</app-tab-panel>
	<app-tab-panel title="Second tab ">
			content tab 2
	</app-tab-panel>
	<app-tab-panel title="Third tab">
			content tab 3
	</app-tab-panel>
  <app-tab-panel title="Fourth tab" *ngIf="show">
			content tab 4
	</app-tab-panel>
</app-bs-tab-group>




